.footer-area {
    display: flex;
    justify-content: space-between;
    padding: 60px 150px;
    background-color: #e6e6e6;
    color: black;
}

.footer-item {
    width: 25%;
}

.footer-item ul li {
    list-style: none;
}

.footer-item ul li:hover {
    color: #850000;
}

.footer-item ul li a:hover {
    color: #850000;
}

.footer-item ul li a {
    color: black;
}

.footer-icon {
    font-size: 8px;
    margin-right: 4px;
}

/*Any Mobile Device*/
@media only screen and (max-width: 767px) {
    .footer-area {
        display: block;
        padding: 20px 30px;
    }

    .footer-item {
        margin-bottom: 10px;
        width: 100%;
    }
}

/*Tablets Device*/
@media only screen and (max-width: 991px) {}

/*ipad Pro  Device*/
@media only screen and (max-width: 1024px) {}

/*large  Device*/
@media only screen and (max-width: 1200px) {}
