<style type="text/css" id="wp-custom-css">
/*
You can add your own CSS here.

Click the help icon above to learn more.
*/


#wpcf7-f185515-o1 .wpcf7-list-item {
    display: block;
    margin: 0;
}

.page-id-185511 .flexLabel {
    display: flex;
    align-items: center;
}

.page-id-185511 .flexLabel .numchoice {
    margin: 0 0 0 10px !important;
    padding: 0 0 0 12px;
    width: 40px;
    height: 30px;
    border: 1px solid #000 !important;
    text-align: center;
    display: block;
}


.wbhb-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.wbhb-boxes .wbhb-box {
    width: calc(33.33% - 26px);
    background: #fff;
    box-shadow: -5px -5px 80px #0000001a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 52px;
    min-height: 200px;
    text-align: center;
}

.wbhb-boxes .wbhb-box.black-box {
    background: #000;
    box-shadow: -5px -5px 80px #0000001A;
}

.wbhb-boxes .wbhb-box.black-box p {
    color: #fff;
}

.wbhb-boxes .wbhb-box p {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 3.3px;
    font-weight: 600;
    margin: 0;
}

.wbhb-boxes .wbhb-box a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.wbhb-boxes .wbhb-box .bqa a {
    display: block;
    color: #000 !important;
    position: relative;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 3.3px;
    font-weight: 600;
    margin: 20px auto;
    transition: none !important;
}

.wbhb-boxes .wbhb-box .bqa a:last-child {
    display: none;
}

.wbhb-boxes .wbhb-box:hover .bqa a:last-child {
    display: block;
}

.wbhb-boxes .wbhb-box:hover .bqa a {
    color: #fff !important;
}

.wbhb-boxes .wbhb-box:hover .bqa a:hover {
    color: #a7a7a7 !important;
}


.wbhb-boxes.alternative .wbhb-box {
    text-align: left;
    align-items: flex-start;
    font-size: 20px;
}

.wbhb-boxes.alternative .wbhb-box h3 {
    color: #850000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0;
    font-size: 24px;
}

.wbhb-boxes.alternative .wbhb-box p {
    letter-spacing: 0;
    color: #0a0a0a;
    font-weight: normal;
    font-size: 20px;
}

.wbhb-boxes .wbhb-box:hover {
    background: #000;
}

.wbhb-boxes .wbhb-box:hover h3,
.wbhb-boxes .wbhb-box:hover p {
    color: #fff;
}

@media screen and (max-width:767px) {
    .wbhb-boxes {
        flex-direction: column;
        align-items: center;
    }

    .wbhb-boxes .wbhb-box {
        width: calc(100% - 26px);
        max-width: 537px;
    }
}


.wpcf7-radio {
    border: none;
}

.wpcf7-response-output {
    position: relative !important;
}

ul.file-uploads li {
    display: block;
    height: 123px;
    margin: 35px 0;
    position: relative;
}

@media (min-width:992px) {
    ul.file-uploads li:after {
        display: block;
        height: 3px;
        width: 50px;
        content: '';
        background-color: #b91628;
        position: absolute;
        top: -13px;
    }

    .ewd {
        padding: 54px 90px;
        box-shadow: 0px 0px 64px -15px #00000033;
        border: 1px solid #0000001a;
    }
}


#cookies-notification {
    display: none !important;
}

.cf7mls_back,
.cf7mls_btn {
    color: #fefefe;
    font-size: 12px;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 16px 80px !important;
    text-transform: uppercase;
    margin: 3% auto;
    letter-spacing: 3px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 2px solid #850000;
    border-radius: 0 !important;
    float: left !important;
}

.cf7mls_back {
    margin: 0 !important;
}

.page-id-185511 .wpcf7-form input {
    margin: 0 0 30px !important;
}

.gray-bg-column {
    background: #dcdede;
    padding: 20px;
}

.gray-bg-column .h3-border {
    margin-bottom: 20px;
}

.gray-bg-column .h3-border a {
    border: 2px solid;
    padding: 10px 20px;
    display: inline-block;
}

.gray-bg-column h4 {
    font-size: 26px;
    font-weight: bold;
}

.page-id-187926 .experience__wrapper .columns.small-12.medium-12.large-12>div {
    display: none;
}

.page-id-187992 #wpcf7-f2374-o1,
#cookies-notification {
    display: none !important;
}

.menu-item.purple {
    background: #62007c;
}

.menu-item.purple a {
    color: #fff !important;
}

/* Awards Section */
@media only screen and (min-width: 960px) {
    .awards-row .award-item {
        min-height: 200px !important;
        float: left !important;
    }

    .awards-row .award-item img {
        max-height: 150px !important;
    }
}

@media only screen and (max-width: 959px) {
    .awards-row .award-item img {
        max-height: 150px !important;
        max-width: 180px;
    }
}

/* Mobile button for Digital PDF */
@media screen and (max-width: 768px) {
    .sites-button.mobile__full--width {
        width: 100%;
    }
}

/* Menu Hover Style */
.menu-item.red {
    transition: ease 300ms background;
}

.menu-item.red:hover {
    background: #000;
}

/* Mobile Submenu */
@media only screen and (max-width: 1023px) {
    .mobile__menu__wrapper .nested.submenu {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .mobile__menu__bottom .one__half {
        padding-top: 10px;
        padding-bottom: 0;
    }

}

/* Person Mobile Featured Image */
@media only screen and (max-width: 520px) {
    .person .insight__details {
        width: 100%;
        height: auto;
    }
}

/* Social Footer Hover */
#menu-footer-social-medium-and-up svg g,
#menu-footer-social-medium-and-up svg path {
    transition: 200ms fill ease;
}

#menu-footer-social-medium-and-up svg:hover g,
#menu-footer-social-medium-and-up svg:hover path {
    fill: #850000;
}

/* Accordion Hover */
.accordion-trigger {
    transition: 500ms ease color;
}

.accordion-trigger:hover {
    color: #850000;
    cursor: pointer;
}

.experience_expander.top__menu:before,
.job_expander.top__menu:before,
.accordion_expander.top__menu:before,
.mobile__sidebar--expander.top__menu:before,
.person__details--expander.top__menu:before {
    top: 0px;
    left: 12px;
    height: 9px;
}

.experience_expander.top__menu:after,
.job_expander.top__menu:after,
.accordion_expander.top__menu:after,
.mobile__sidebar--expander.top__menu:after,
.person__details--expander.top__menu:after {
    top: -4px;
    left: 7px;
    width: 9px;
}

.experience_expander.top__menu,
.job_expander.top__menu,
.accordion_expander.top__menu,
.mobile__sidebar--expander.top__menu,
.person__details--expander.top__menu {
    transition: 500ms ease background;
}

.experience_expander.top__menu:hover,
.job_expander.top__menu:hover,
.accordion_expander.top__menu:hover,
.mobile__sidebar--expander.top__menu:hover,
.person__details--expander.top__menu:hover {
    background: #000;
}

/* People Print */
@media print {
    .award-item img {
        max-width: 200px !important;
        max-height: 120px !important;
    }

    .hidden__person-publication--details .bullet {
        width: 100%;
    }

    #cookie-notice {
        display: none;
    }

    #page-full-width-homepage {
        padding-top: 30px;
    }

    .logo--print--only {
        left: 24.5px;
    }

    #masthead,
    #person-specialization {
        display: none !important;
    }

    #people-sidebar {
        display: table !important;
        background: #cacaca !important;
        width: 24%;
        float: left;
        margin: 0 1% 2% 0%;
    }

    #people-sidebar a {
        display: block !important;
        color: #000;
    }

    .table__inner .people__details,
    .table__inner .link {
        line-height: 1 !important;
        margin-bottom: 5px !important;

    }

    .title__text {
        padding-bottom: 10px;
        padding-top: 10px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    .title__text.smaller {
        border-width: 0 !important;
    }

    .gray__underline {
        margin-bottom: 10px !important;
    }

    .experience__wrapper ul {
        display: block !important;
    }

}

/* Bio Accordion Borders */
@media only screen and (min-width:200px) {
    .people-template-default .single-people-page .smaller.accordion-trigger {
        border: 1px solid;
        border-right: 0;
        padding: 20px !important;
        margin-right: 10px !important;
        width: 100%;
    }

    .people-template-default .no__borders td:nth-child(2) {
        border: 1px solid black;
        border-left: 0;
    }

    .people-template-default .experience_expander.top__menu,
    .people-template-default .job_expander.top__menu,
    .people-template-default .accordion_expander.top__menu,
    .people-template-default .mobile__sidebar--expander.top__menu,
    .people-template-default .person__details--expander.top__menu {
        background-color: #850000;
        right: 15px;
        top: 20px;
    }

    .people-template-default .gray__underline td:nth-child(2) {
        transition: 500ms ease border-color !important;
    }

    .people-template-default .gray__underline:hover td {
        border-color: #850000;
    }

    .people-template-default .gray__underline {
        border-bottom: 0px solid #fff !important;
    }

    .people-template-default .no__borders .bottom-border-table {
        border-bottom: 0px solid #fff !important;
    }
}

/* Bio Profile Button Hovers */
.people-template-default .table__wrapper .sites-button:hover {
    border-width: 2px !important;
}

.people-template-default .table__wrapper .sites-button {
    transition: ease 300ms background, ease 300ms color !important;
}

/* Practice Page Banner Opacity */
.color__block.vellum {
    background-color: rgba(255, 255, 255, 0.92);
}

/* Footer Reposition Center - Desktop*/
@media screen and (min-width: 769px) {
    .social-icons {
        float: none;
        padding-top: 0px;
        left: 50%;
        position: relative;
        transform: translateX(-102%);
    }
}
